Kears NN and tensorboard v1

In [8]:
import pandas as pd
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Activation, Dense
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.metrics import categorical_crossentropy
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

import os

In [12]:
#path to personal environment
path = '/content/drive/MyDrive/GHG/MSDS696/MSDS696_GHG/'

In [14]:
df = pd.read_csv(path+'Data/GHG_Post_Outlier.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44079 entries, 0 to 44078
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   account_name                44079 non-null  object
 1   account_id                  44079 non-null  int64
 2   Year                        44079 non-null  int64
 3   incorporated_country        44079 non-null  object
 4   Primary activity            44079 non-null  object
 5   Primary sector              44079 non-null  object
 6   Market_Cap_USD              37591 non-null  float64
 7   Third_party_verification    44055 non-null  object
 8   Revenue_USD                 37799 non-null  float64
 9   ebitda_USD                  37799 non-null  float64
 10  grossProfit_USD             37799 non-null  float64
 11  netIncome_USD               37799 non-null  float64
 12  cashAndCashEquivalents_USD  37799 non-null  float64
 13  shortTermInvestments_USD    37799 non-null  float64
 14  longTermInvestments_USD     37799 non-null  float64
 15  totalAssets_USD             37799 non-null  float64
 16  totalLiabilities_USD        37799 non-null  float64
 17  totalInvestments_USD        37799 non-null  float64
 18  totalDebt_USD               37799 non-null  float64
 19  totalEquity_USD             37799 non-null  float64
 20  Scope_3_emissions_type      44079 non-null  object
 21  Scope_3_emissions_amount    44079 non-null  float64
 22  country_ghg_avg             43990 non-null  float64
 23  country_population_avg      44079 non-null  float64
 24  country_gdp_avg             44079 non-null  float64
dtypes: float64(17), int64(2), object(6)
memory usage: 8.4+ MB

merge esg data on account id and year

merge account name and ids, symbol, and ticker

output final merged df with account_id corrections and esg data to CSV

create dictionary of DFs for each scope 3 emission type

check entries per year to make sure 2022 has enough for validation

split data on 2013-2021 and 2022 validation